#title{
    background-color: green;
    text-align: center;
    height: 200px;
    padding-top: 2%;
}
#cthulhutitle{
    margin-top: 3%;
}
#subcthulhu{
    text-align: center;
}
#navigation{
    text-align: right;
    background-color: black;
    height: 50px;
}
#aside-menu{
    float: left;
    width: 20%; 
    border-right: solid green 2px;  
    margin-top: 1%;
    margin-left: 3%;
}
#container-introduction{
    float: right;
    width: 70%;
    margin-top: 1%;
    margin-left: -5%;
}
#introduction{
    margin-left: 1%;
}
#container-documentation{
    margin-left: 1%;
}
h2{
    text-decoration: underline;
}
#welcome{
    text-align: left;
    padding-right: 10%;
}
